@import "leaflet/dist/leaflet.css";

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
}

.App{
    position: relative;
    width: 100%;
    height: 100%;
}

.current-loc{
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 10;
}
.map-container{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.custom-marker {
    width: 10px;
    height: 10px;
    background-color: #460beb; 
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
         border: 5px solid #ffffff;
    }
    100%{ 
        border: 5px solid #ffffff00;
    }
  
}